.result__card-wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 16px;
}

@media (max-width : 1312px) {
    .result__card-wrapper {
        grid-template-columns: max(30.487804878%, 224px) max(30.487804878%, 224px) max(30.487804878%, 224px);
        grid-gap: 8px;
    }
}

@media (max-width : 720px) {
    .result__card-wrapper {
        grid-template-columns: 320px;
        align-self: center;
    }
}

@media (max-width : 352px) {
    .result__card-wrapper {
        grid-template-columns: 288px;
        grid-gap: 6px;
    }
}