.search__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 608px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (max-width : 1312px) {
    .search__wrapper {
        width: max(46.341463415%, 446px);
        margin-bottom: max(calc(6.097560976% - 7px), 48px);
        margin-top: max(calc(6.097560976% - 7px), 40px);
    }
}

@media (max-width : 500px) {
    .search__wrapper {
        width: max(89.2%, 288px);
        margin-top: 30px;
        margin-bottom: 104px;
    }
}

