.use-tech__subtitle {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;
/* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 0.2px;

/* main/black */

    color: #1A1B22;
    margin-top: 0;
    margin-bottom: 23px;
}