.footer__container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    width: 100%;
}

@media (max-width : 1312px) {
    .footer__container {
        width: calc(100% - 80px);
        margin-top: max(2.286585366%, 20px);
    }
}

@media (max-width : 768px) {
    .footer__container {
        width: 688px;
    }
}

@media (max-width : 720px) {
    .footer__container {
        width: calc(100% - 32px);
        margin-top: 20px;
        margin-bottom: 22px;
    }
}
