.header__title {
    margin-top: 0;
    margin-bottom: 26px;
    margin-left: 3px;
    display: flex;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

@media (max-width : 1312px) {
    .header__title {
        margin-left: 0;
        margin-bottom: max(1.981707317%, 18px);
    }
}

@media (max-width : 716px) {
    .header__title {
        margin-left: 2px;
        margin-bottom: max(2.51396648%, 16px);
        font-size: max(2.793296089vw, 1rem);
    }
}