@import url(./_next/_next.css);

.swipe__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 100%;
    background: linear-gradient(180deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
}

.swipe__button:focus {
    outline: none;
}



@media (max-width : 900px) {
    .swipe__button {
        display: none;
    }
}