.title {
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif; 
    font-style: normal;
    font-weight: normal;
}

/*'Roboto', Arial, Helvetica, sans-serif;*/
/*'Source Sans Pro',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
/*'Roboto Slab', Georgia, 'Times New Roman', Times, serif;*/