@import url(./__wrapper/__wrapper.css);
@import url(./__title/__title.css);
@import url(./__link/__link.css);
@import url(./__button/__button.css);

.git-story {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

@media (max-width : 1312px) {
    .git-story {
        margin-bottom: max(calc(6.097560976% - 8px), 40px);
    }  
}

@media (max-width : 720px) {
    .git-story {
        margin-bottom: max(calc(5.555555556% - 8px), 32px);
    }  
}