.header__nav {
    display: flex;
    align-items: stretch;
}

@media (max-width : 1312px) {
    .header__nav {
        margin-right: 2px;
    }
}

@media (max-width : 716px) {
    .header__nav {
        margin-right: 0px;
    }
}