.youask__reference {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.youask__reference:after {
    content: '235';
    font-weight: bold;
}