.footer__wrapper {
    max-width: 848px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width : 1312px) {
    .footer__wrapper {
        width: max(64.634146341%, 524px);
    }
}

@media (max-width : 720px) {
    .footer__wrapper {
        flex-direction: column;
    }
}