.use-tech__container {
    display: flex;
    max-width: 1232px;
    width: 100%;
    min-width: 288px;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 95px;
}

@media (max-width : 1312px) {
    .use-tech__container {
        width: calc(100% - 80px);
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 35px;
    } 
}

@media (max-width : 768px) {
    .use-tech__container {
        width: 688px;
    }
}

@media (max-width : 720px) {
    .use-tech__container {
        width: calc(100% - 32px);
        margin-top: 32px;
        margin-bottom: 44px;
    }
}

@media (max-width : 320px) {
    .use-tech__container {
        width: 288px;
    }
}