.result__button {
    display: flex;
    flex-shrink: 0;
    align-self: center;
    max-width: 288px;
    max-height: 64px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: none;
/* identical to box height, or 133% */

/* main/black */

    color: #1A1B22;
}

@media (max-width : 1312px) {
    .result__button {
        width: max(21.951219512%, 240px);
        height: max(4.87804878vw, 56px);
    }
}

@media (max-width : 1312px) {
    .result__button {
        width: 288px;
    }
}