.search__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 32px 63px 0 0;
    margin-bottom: 64px;
}

@media (max-width : 900px) {
    .search__description {
        margin: 16px 0 24px 0;
    }

}
